$primary-color : #ffff;
$secondary-color : #4EB9BF;
$tertiary-color : #111111;
$orange:#1c518f;
$gradient : linear-gradient(45deg, #4EB9BF, #008991);
$gradient2 : linear-gradient(45deg, #ffffff, #e0f2f3);